        h1{
            color:steelblue;
            text-align: center;
            padding: auto;
        
        }
        .IT{
            color: crimson;
        }
   #Meta{
    color: darkorange;
   }